<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <File>D:/logs/my_log%d{yyyyMMdd}.log</File>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d %p %t %c - %m%n</Pattern>
    </layout>
  </appender>
-->
<!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [%-5level][%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%logger{36}:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>

	<appender name="FILE"
	          class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.path:-log/}/appserver.log</File>
		
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
		    <level>ERROR</level>
		    <onMatch>DENY</onMatch>
		    <!-- 
		    <onMisMatch>NEUTRAL</onMisMatch>
		    <onMisMatch>ACCEPT</onMisMatch>
		     -->
		</filter>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
		    <level>${log.lowest.level}</level>
		    <!-- 
		    <level>ERROR</level>
		    <onMatch>ACCEPT</onMatch>
		    <onMismatch>DENY</onMismatch>
		     -->
		</filter>
		<rollingPolicy
		        class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
			  ${log.path:-log/}/appserver.%d{yyyyMMdd_HHmmss}.log
			</FileNamePattern>
		</rollingPolicy>
    <!-- 
		 -->
    <!-- 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.path}/${app.name}/sys-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <MaxHistory>90</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>10MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
     -->
        <encoder
	class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [%-5level][%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%logger{36}:%line] - %msg%n
            </pattern>
        </encoder>
            <!-- %d{HH:mm:ss.SSS} [%thread] %-5level %logger{32} %line - %msg%n 
            [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-36.36thread] [%-5level] [%-36.36logger{36}:%-4.4line] - %msg%n
            -->
        <!-- 
	    <layout class="ch.qos.logback.classic.PatternLayout">
	        <Pattern>
                [%-5level][%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%logger{32}:%line] - %msg%n
            </Pattern>
        </layout>
         -->
    </appender>
  
    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path:-log/}/appserver-err.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <!-- NEUTRAL、ACCEPT、DENY -->
            <onMismatch>DENY</onMismatch>
            <!-- 
             -->
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.path:-log/}/appserver-err-%d{yyyy-MM-dd}.log</FileNamePattern>
            <!-- 
            <MaxHistory>90</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>10MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
             -->
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [%-5level][%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%logger{36}:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>
    
    <!-- 日志输出级别 -->
    <root level="${log.root.level:-debug}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="FILE-ERROR"/>
    </root>
</configuration> 